*.node
node_modules/
build/
Debug/
Release/
npm-debug.log
tmp
covreporter/
coverage/
.tern-port
.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
